
html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
;
}

.main{background-color: rgb(144, 3, 220);}

#Barra_navegación {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la izquierda */
    background-color: rgb(249, 188, 46);
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#Barra_navegación a {
    font-size: 100%;
    margin-right: px; /* Genera espacio entre los enlaces */
    color: black;
}

#icono_de_Best {
    margin-left: 40px;
    margin-top: 30px;
    font-size: medium;
}

.link_barra{
    font-size: 100%;
    padding-right: 20px;
    margin-top: 15px;

}

.Títulos h2{
    text-align: center;
}

#countdown{
    text-align: center;
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}