@media only screen and (min-width:1000px){
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow:auto; /* Opcional, para ocultar barras de desplazamiento */
}

:root{
  --color-principal: #76087a67;
  --color-secundario: blue;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: #FAF7F6;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Aileron Regular', sans-serif;
  color: #FAF7F6;
}

body{
  overflow-y: auto;
  
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #60177A;
  padding-top: 20;
  position: fixed;
  overflow: hidden;
  width: 100%;
  position: absolute;
}


.logo_pequeño img{
  width: 15%;
  margin: 0 0 15 60;

}

.bloque_derecho{
  margin-right: 30;
}

.bolas {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 50px;
  
}

.bolas img{
  background-color: #FAF7F6;;
  width: 30;
  margin-left: 60px;
  padding: 5;
  border-radius: 50%;
}

.lista_barra{
  display: flex;
  margin-right: 20px;
}

.lista_barra h4{
  margin-right: 30;
  white-space: nowrap;
  font-size: 20;
  align-items: center;
}

.lista_barra a{
  text-decoration: none;
  color: inherit;
}

.lista_barra h4 .idioma{
  align-items: end;
}

.separador{
  background-color: #FAF7F6;
}


.barra_principio{
  background-image: url(https://bestvalencia.org/images/header.jpg);
  max-width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 97% ;
  min-height: 700;
  overflow: hidden;
}

.transparencia_foto_principio{
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  background-color: var(--color-principal);
  width: 100%;
  height: 100%;
  display: flex;
}

.logo_central{
  display: flex;
  padding-top: 1%;
  justify-content:space-evenly; /* Centrar horizontalmente */
}

.logo_central img {
  width: 20%;
  display: flex;
  min-width: 20%;

}

.logo_central h2{
  margin-top: 80;
  text-align: center;
  font-size: 55;
  font-weight: 100; 
}



.Temporizador{
  height: 11%;
  display: flex;
  justify-content: center;
  padding-bottom: 30;
  margin-left: 25;
}

.Temporizador h2{
  display: flex;
  justify-content: start;
  font-size: 50;
  color: white;
  font-weight: 100; 
}

.fecha{
  display: flex;
  justify-content: end;
  padding-left: 90;
}

.frase{
  margin-top: 1%;
}

.frase p{
  color: #FAF7F6;
  text-align: center;
  font-size: 30;
  font-weight: 100;
  margin-left: 0;
  margin-bottom: 5%;
  margin-top: 3%;

}

#separador_inicio{
  color: inherit;
  padding-bottom: 30;
}


.descripcion{
  display: flex;
  justify-content: center;
  background-color: #60177A;

}

#separador_desc{
  padding-bottom: 30;
  background-color: #FAF7F6;
}


.competiciones{
  display: flex;
  justify-content: center;
  font-size: 30;
  font-weight: 100;
  background-color:  #60177A;
}

#separador_comp{
  background-color:  #FAF7F6;
  padding-bottom: 5;
}


.caja_competicion1{
  background-image: url(./hemisferic.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  position: relative;
}

.transparencia_competicion1{
  background-color: rgba(104, 172, 233, 0.499);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center; 
  align-items: center;  
}


.competicion1{
  display: flex;
  justify-content:center; 
  align-items: center;
}

.competicion1 img {
  display: flex;
  width: 18%;
  height: auto;
}

.competicion1 p{
  max-width: 500px;
  font-size: 125%;
}

#separador_competiciones{
  width: 10%;
  background-color: #FAF7F6;
}

.caja_competicion2{
  background-image: url(./valencia.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.transparencia_competicion2{
  background-color: rgba(204, 76, 178, 0.499);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center; /* Centrar horizontalmente */
  align-items: center;
}


.competicion2{
  display: flex;
  justify-content:center; 
  align-items: center;
}

.competicion2 img{
  width: 17%;
}

.competicion2 p{
  max-width: 500px;
  font-size: 20;
}



.caja_competicion3{
  background-image: url(./hemisferic.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.transparencia_competicion3{
  background-color: rgba(104, 172, 233, 0.499);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center; 
  align-items: center;
}


.competicion3{
  display: flex;
  justify-content:center; 
  align-items: center;
}

.competicion3 img {
  display: flex;
  padding-top: 20px;
  width: 18%;
}

.competicion3 p{
  margin-top: 55;
  max-width: 500px;
  font-size: 20;
}

#separador_desc{
  background-color: #60177A;;
}

.redes_sociales{
  display: flex;
  background-color: black;
  padding: 20;
  justify-content:space-around;
}
*, ::after, ::before {
  box-sizing: border-box;
  
}

@keyframes scroll {

  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 16));
  }
}

.Empresas_colaboradoras{
  overflow-x: hidden;
}


.slider {
  height: 100px;
  overflow: hidden;
  width: auto;
  margin: 0px;

}

.slider .slide-track {
  animation: scroll 17s linear infinite; /* Reduce la duración de la animación */
  display: flex;
  width: calc(250px * 16);
}

/* Duplica las imágenes para crear la ilusión de continuidad */
.slider .slide {
  height: 100px;
  width: 250px;
}
.slider .slide:last-child::after {
  content: ""; /* Pseudo-elemento para duplicar las imágenes */
  width: 250px;
}
}



