
@media only screen and (min-width:220px) and (max-width:860px){
  

    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      overflow: hidden;
      overflow-y:scroll;
      
    }
    
    p{
      font-family: 'Open Sans', sans-serif;
      color: #FAF7F6;
    }
    
    h1,h2,h3,h4,h5,h6{
      font-family: 'Aileron Regular', sans-serif;
      color: #FAF7F6;
    }
    
    
    nav{
        display: flex;
        background-color: #532161;
        position: fixed;
        height: 20%;
        width: 100%;
        z-index: 10000000000;
    }


    .logo_pequeño{
      display: flex;
        justify-content: start;
        align-items: center;
        width: 20%;
        
    }

    .logo_pequeño img{
      max-height: 40%;
        width: auto;
        margin: 0 0 0 30;    
    }

    .bloque_derecho{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .bolas {
        display: flex;
        justify-content: end;
        align-items: start;
        margin-right: 5%;
      
      }

    .bolas img{
        display: flex;
        align-items: center;
        background-color: #FAF7F6;
        margin-left: 10%;
        width: 5%;
        padding: 5;
        border-radius: 50%;
      }
    
.lista_barra{
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 5%;

  }
  
  .lista_barra h4{
    margin-left: 5%;
    display: flex;
    justify-content: end;
    white-space: nowrap;
    font-size: 1.8vmax;
    align-items: center;
  }

  .lista_barra a{
    text-decoration: none;
    color: inherit;
  }
  
  .idioma{
    display: flex;
    align-items: end;
    margin-bottom: 0;
  }


  .separador{
    background-color: #FAF7F6;
  }

  



  
  .barra_principio{
    margin-top: 20%;
    background-image: url(https://bestvalencia.org/images/header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
}

.transparencia_foto_principio{
  flex-direction: column;
  justify-content: center;
  padding: 0% 5% 0   5%;
  background-color: #c04ce043;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_central{
  margin-top: 10%;
  display: flex;
  justify-content:space-evenly; /* Centrar horizontalmente */
  align-items: center;
  flex-direction: column;
  
}

.logo_central img {
  width: 40%;
  height: auto;
  display: flex;
}

.logo_central h2{
  display: flex;
  text-align: center;
  font-size: 3.s5vh;
  font-weight: 100; 
  width: fit-content;
  flex-direction: column;
}

.Temporizador{
  display: flex;
  flex-direction: column;
  
  
}

.Temporizador h3{
  display: flex;
  justify-content: center;
  font-size: 3.5vh;
  color: white;
  margin-bottom: 0;
  font-weight: 100; 
}

.fecha{
  display: flex;
  justify-content: end;
}

.frase p{
  color: #FAF7F6;
  text-align: center;
  font-size: 30;
  font-weight: 100;margin-left: 0;
  

}



#separador_inicio{
  color: inherit;
  padding-bottom: 15;
}


.descripcion{
  display: flex;
  justify-content: center;
  background-color: #803395;
}

.descripcion h3{
  font-size: 2.5vmax;
  text-align: center;
}

#separador_desc{
  padding-bottom: 20;
  background-color: #FAF7F6;
}


.competiciones{
  display: flex;
  justify-content: center;
  font-size: 30;
  font-weight: 100;
  background-color:  #803395;
}

#separador_comp{
  background-color:  #FAF7F6;
  padding-bottom: 5;
}




.caja_competicion1{
  background-image: url(./hemisferic.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  position: relative;
}

.transparencia_competicion1{
  background-color: #996aa691;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center; 
  align-items: center;  
}


.competicion1{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.competicion1 img {
  display: flex;
  width: 40%;
  height: auto;
}

.competicion1 p{
  text-align:justify;
  margin-top: 5%;
  max-width: 70%;
  font-size: 1.6vmax;
}

#separador_competiciones{
  width: 10%;
  background-color: #FAF7F6;
}


#separador_competiciones{
  width: 10%;
  background-color: #FAF7F6;
}

.caja_competicion2{
  background-image: url(./valencia.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.transparencia_competicion2{
  background-color: #c04ce098;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center; /* Centrar horizontalmente */
  align-items: center;
}


.competicion2{
  display: flex;
  justify-content:center; 
  align-items: center;
  flex-direction: column;
}

.competicion2 img{
  display: flex;
  width: 40%;
  height: auto;
}

.competicion2 p{
  text-align:justify;
  margin-top: 5%;
  max-width: 70%;
  font-size: 1.6vmax;
}

.caja_competicion3{
  background-image: url(./hemisferic.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  position: relative;
}

.transparencia_competicion3{
  background-color: #996aa691;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center; 
  align-items: center;  
}


.competicion3{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.competicion3 img {
  display: flex;
  width: 40%;
  height: auto;
}

.competicion3 p{
  text-align:justify;
  margin-top: 5%;
  max-width: 70%;
  font-size: 1.6vmax;
}


@keyframes scroll {

  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 16));
  }
}

.Empresas_colaboradoras{
  overflow-x: hidden;
}


.slider {
  height: 100px;
  overflow: hidden;
  width: auto;
  margin: 0px;

}

.slider .slide-track {
  animation: scroll 17s linear infinite; /* Reduce la duración de la animación */
  display: flex;
  width: calc(250px * 16);
}

/* Duplica las imágenes para crear la ilusión de continuidad */
.slider .slide {
  height: 100px;
  width: 250px;
}
.slider .slide:last-child::after {
  content: ""; /* Pseudo-elemento para duplicar las imágenes */
  width: 250px;
}


#separador_desc{
  background-color: #803395 ;
}


.redes_sociales{
  display: flex;
  background-color: black;
  padding: 20;
  justify-content:space-around;
}

}

